.dropdown-button {
  background-color: white;
  /* color: white; */
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  position: relative;
}

.dropdown-button:hover, .dropdown-button:focus {
  background-color: #f1f7f1;
}

.my-input {
  background-image: url('https://www.w3schools.com/howto/searchicon.png');
  background-position: 14px center;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.my-input:focus {outline: 3px solid #ddd;}

.dropdown {
  /*position: relative;
  display: inline-block;
  width: 100%; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a:not(.nothing-found) {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.active {
  background-color: #ddd;
}

.nothing-found {
  pointer-events: none;
  cursor: default;
  color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #555;
  position: absolute;
  top: 0.4em;
  right: 5px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}